<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Datos</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styda.css') }}">
    </head>
    <body>
        <div class="contenedor">
            {%for usuario in usuarios:%}
                <h1>{{usuario['nombre']}}</h1>
                <h2>Dojo location:  {{usuario['location']}}</h2>
                <h2>Language:  {{usuario['language']}}</h2>
                <h3>Comments:  {{usuario['comment']}}</h3>
            {%endfor%}
        
        <form action="/logout">
            <button type='submit' class='btn'>Back</button>
        </form>
        </div>
    </body>
</html>